# Configuration file

fluids {
    S:fluid.actuallyadditions.canolaoil.cardrank=
    S:fluid.actuallyadditions.canolaoil.grammar=
    S:fluid.actuallyadditions.canolaoil.instability.factor_accessibility=
    S:fluid.actuallyadditions.canolaoil.instability.factor_flat=
    S:fluid.actuallyadditions.canolaoil.seabanned=
    S:fluid.actuallyadditions.crystaloil.cardrank=
    S:fluid.actuallyadditions.crystaloil.grammar=
    S:fluid.actuallyadditions.crystaloil.instability.factor_accessibility=
    S:fluid.actuallyadditions.crystaloil.instability.factor_flat=
    S:fluid.actuallyadditions.crystaloil.seabanned=
    S:fluid.actuallyadditions.empoweredoil.cardrank=
    S:fluid.actuallyadditions.empoweredoil.grammar=
    S:fluid.actuallyadditions.empoweredoil.instability.factor_accessibility=
    S:fluid.actuallyadditions.empoweredoil.instability.factor_flat=
    S:fluid.actuallyadditions.empoweredoil.seabanned=
    S:fluid.actuallyadditions.refinedcanolaoil.cardrank=
    S:fluid.actuallyadditions.refinedcanolaoil.grammar=
    S:fluid.actuallyadditions.refinedcanolaoil.instability.factor_accessibility=
    S:fluid.actuallyadditions.refinedcanolaoil.instability.factor_flat=
    S:fluid.actuallyadditions.refinedcanolaoil.seabanned=
    S:fluid.animania_honey.cardrank=
    S:fluid.animania_honey.grammar=
    S:fluid.animania_honey.instability.factor_accessibility=
    S:fluid.animania_honey.instability.factor_flat=
    S:fluid.animania_honey.seabanned=
    S:fluid.biodiesel.cardrank=
    S:fluid.biodiesel.grammar=
    S:fluid.biodiesel.instability.factor_accessibility=
    S:fluid.biodiesel.instability.factor_flat=
    S:fluid.biodiesel.seabanned=
    S:fluid.blood.cardrank=
    S:fluid.blood.grammar=
    S:fluid.blood.instability.factor_accessibility=
    S:fluid.blood.instability.factor_flat=
    S:fluid.blood.seabanned=
    S:fluid.concrete.cardrank=
    S:fluid.concrete.grammar=
    S:fluid.concrete.instability.factor_accessibility=
    S:fluid.concrete.instability.factor_flat=
    S:fluid.concrete.seabanned=
    S:fluid.constantan.cardrank=
    S:fluid.constantan.grammar=
    S:fluid.constantan.instability.factor_accessibility=
    S:fluid.constantan.instability.factor_flat=
    S:fluid.constantan.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.endacid.cardrank=
    S:fluid.endacid.grammar=
    S:fluid.endacid.instability.factor_accessibility=
    S:fluid.endacid.instability.factor_flat=
    S:fluid.endacid.seabanned=
    S:fluid.ethanol.cardrank=
    S:fluid.ethanol.grammar=
    S:fluid.ethanol.instability.factor_accessibility=
    S:fluid.ethanol.instability.factor_flat=
    S:fluid.ethanol.seabanned=
    S:fluid.fiery_essence.cardrank=
    S:fluid.fiery_essence.grammar=
    S:fluid.fiery_essence.instability.factor_accessibility=
    S:fluid.fiery_essence.instability.factor_flat=
    S:fluid.fiery_essence.seabanned=
    S:fluid.fierymetal.cardrank=
    S:fluid.fierymetal.grammar=
    S:fluid.fierymetal.instability.factor_accessibility=
    S:fluid.fierymetal.instability.factor_flat=
    S:fluid.fierymetal.seabanned=
    S:fluid.flux_goo.cardrank=
    S:fluid.flux_goo.grammar=
    S:fluid.flux_goo.instability.factor_accessibility=
    S:fluid.flux_goo.instability.factor_flat=
    S:fluid.flux_goo.seabanned=
    S:fluid.fuel_dense.cardrank=
    S:fluid.fuel_dense.grammar=
    S:fluid.fuel_dense.instability.factor_accessibility=
    S:fluid.fuel_dense.instability.factor_flat=
    S:fluid.fuel_dense.seabanned=
    S:fluid.fuel_gaseous.cardrank=
    S:fluid.fuel_gaseous.grammar=
    S:fluid.fuel_gaseous.instability.factor_accessibility=
    S:fluid.fuel_gaseous.instability.factor_flat=
    S:fluid.fuel_light.cardrank=
    S:fluid.fuel_light.grammar=
    S:fluid.fuel_light.instability.factor_accessibility=
    S:fluid.fuel_light.instability.factor_flat=
    S:fluid.fuel_light.seabanned=
    S:fluid.fuel_mixed_heavy.cardrank=
    S:fluid.fuel_mixed_heavy.grammar=
    S:fluid.fuel_mixed_heavy.instability.factor_accessibility=
    S:fluid.fuel_mixed_heavy.instability.factor_flat=
    S:fluid.fuel_mixed_heavy.seabanned=
    S:fluid.fuel_mixed_light.cardrank=
    S:fluid.fuel_mixed_light.grammar=
    S:fluid.fuel_mixed_light.instability.factor_accessibility=
    S:fluid.fuel_mixed_light.instability.factor_flat=
    S:fluid.fuel_mixed_light.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.hot_spring_water.cardrank=
    S:fluid.hot_spring_water.grammar=
    S:fluid.hot_spring_water.instability.factor_accessibility=
    S:fluid.hot_spring_water.instability.factor_flat=
    S:fluid.hot_spring_water.seabanned=
    S:fluid.knightmetal.cardrank=
    S:fluid.knightmetal.grammar=
    S:fluid.knightmetal.instability.factor_accessibility=
    S:fluid.knightmetal.instability.factor_flat=
    S:fluid.knightmetal.seabanned=
    S:fluid.liquid_death.cardrank=
    S:fluid.liquid_death.grammar=
    S:fluid.liquid_death.instability.factor_accessibility=
    S:fluid.liquid_death.instability.factor_flat=
    S:fluid.liquid_death.seabanned=
    S:fluid.milk_friesian.cardrank=
    S:fluid.milk_friesian.grammar=
    S:fluid.milk_friesian.instability.factor_accessibility=
    S:fluid.milk_friesian.instability.factor_flat=
    S:fluid.milk_friesian.seabanned=
    S:fluid.milk_goat.cardrank=
    S:fluid.milk_goat.grammar=
    S:fluid.milk_goat.instability.factor_accessibility=
    S:fluid.milk_goat.instability.factor_flat=
    S:fluid.milk_goat.seabanned=
    S:fluid.milk_holstein.cardrank=
    S:fluid.milk_holstein.grammar=
    S:fluid.milk_holstein.instability.factor_accessibility=
    S:fluid.milk_holstein.instability.factor_flat=
    S:fluid.milk_holstein.seabanned=
    S:fluid.milk_jersey.cardrank=
    S:fluid.milk_jersey.grammar=
    S:fluid.milk_jersey.instability.factor_accessibility=
    S:fluid.milk_jersey.instability.factor_flat=
    S:fluid.milk_jersey.seabanned=
    S:fluid.milk_sheep.cardrank=
    S:fluid.milk_sheep.grammar=
    S:fluid.milk_sheep.instability.factor_accessibility=
    S:fluid.milk_sheep.instability.factor_flat=
    S:fluid.milk_sheep.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.oil_dense.cardrank=
    S:fluid.oil_dense.grammar=
    S:fluid.oil_dense.instability.factor_accessibility=
    S:fluid.oil_dense.instability.factor_flat=
    S:fluid.oil_dense.seabanned=
    S:fluid.oil_distilled.cardrank=
    S:fluid.oil_distilled.grammar=
    S:fluid.oil_distilled.instability.factor_accessibility=
    S:fluid.oil_distilled.instability.factor_flat=
    S:fluid.oil_distilled.seabanned=
    S:fluid.oil_heavy.cardrank=
    S:fluid.oil_heavy.grammar=
    S:fluid.oil_heavy.instability.factor_accessibility=
    S:fluid.oil_heavy.instability.factor_flat=
    S:fluid.oil_heavy.seabanned=
    S:fluid.oil_residue.cardrank=
    S:fluid.oil_residue.grammar=
    S:fluid.oil_residue.instability.factor_accessibility=
    S:fluid.oil_residue.instability.factor_flat=
    S:fluid.oil_residue.seabanned=
    S:fluid.other.cardrank=
    S:fluid.other.grammar=
    S:fluid.other.instability.factor_accessibility=
    S:fluid.other.instability.factor_flat=
    S:fluid.other.seabanned=
    S:fluid.pewter.elementium.cardrank=
    S:fluid.pewter.elementium.grammar=
    S:fluid.pewter.elementium.instability.factor_accessibility=
    S:fluid.pewter.elementium.instability.factor_flat=
    S:fluid.pewter.elementium.seabanned=
    S:fluid.pewter.hellfire.cardrank=
    S:fluid.pewter.hellfire.grammar=
    S:fluid.pewter.hellfire.instability.factor_accessibility=
    S:fluid.pewter.hellfire.instability.factor_flat=
    S:fluid.pewter.hellfire.seabanned=
    S:fluid.pewter.manasteel.cardrank=
    S:fluid.pewter.manasteel.grammar=
    S:fluid.pewter.manasteel.instability.factor_accessibility=
    S:fluid.pewter.manasteel.instability.factor_flat=
    S:fluid.pewter.manasteel.seabanned=
    S:fluid.pewter.soulforgedsteel.cardrank=
    S:fluid.pewter.soulforgedsteel.grammar=
    S:fluid.pewter.soulforgedsteel.instability.factor_accessibility=
    S:fluid.pewter.soulforgedsteel.instability.factor_flat=
    S:fluid.pewter.soulforgedsteel.seabanned=
    S:fluid.pewter.terrasteel.cardrank=
    S:fluid.pewter.terrasteel.grammar=
    S:fluid.pewter.terrasteel.instability.factor_accessibility=
    S:fluid.pewter.terrasteel.instability.factor_flat=
    S:fluid.pewter.terrasteel.seabanned=
    S:fluid.pewter.thaumium.cardrank=
    S:fluid.pewter.thaumium.grammar=
    S:fluid.pewter.thaumium.instability.factor_accessibility=
    S:fluid.pewter.thaumium.instability.factor_flat=
    S:fluid.pewter.thaumium.seabanned=
    S:fluid.pewter.voidmetal.cardrank=
    S:fluid.pewter.voidmetal.grammar=
    S:fluid.pewter.voidmetal.instability.factor_accessibility=
    S:fluid.pewter.voidmetal.instability.factor_flat=
    S:fluid.pewter.voidmetal.seabanned=
    S:fluid.plantoil.cardrank=
    S:fluid.plantoil.grammar=
    S:fluid.plantoil.instability.factor_accessibility=
    S:fluid.plantoil.instability.factor_flat=
    S:fluid.plantoil.seabanned=
    S:fluid.plustic.alumite.cardrank=
    S:fluid.plustic.alumite.grammar=
    S:fluid.plustic.alumite.instability.factor_accessibility=
    S:fluid.plustic.alumite.instability.factor_flat=
    S:fluid.plustic.alumite.seabanned=
    S:fluid.plustic.invar.cardrank=
    S:fluid.plustic.invar.grammar=
    S:fluid.plustic.invar.instability.factor_accessibility=
    S:fluid.plustic.invar.instability.factor_flat=
    S:fluid.plustic.invar.seabanned=
    S:fluid.plustic.iridium.cardrank=
    S:fluid.plustic.iridium.grammar=
    S:fluid.plustic.iridium.instability.factor_accessibility=
    S:fluid.plustic.iridium.instability.factor_flat=
    S:fluid.plustic.iridium.seabanned=
    S:fluid.plustic.landium.cardrank=
    S:fluid.plustic.landium.grammar=
    S:fluid.plustic.landium.instability.factor_accessibility=
    S:fluid.plustic.landium.instability.factor_flat=
    S:fluid.plustic.landium.seabanned=
    S:fluid.plustic.mirion.cardrank=
    S:fluid.plustic.mirion.grammar=
    S:fluid.plustic.mirion.instability.factor_accessibility=
    S:fluid.plustic.mirion.instability.factor_flat=
    S:fluid.plustic.mirion.seabanned=
    S:fluid.plustic.thorium.cardrank=
    S:fluid.plustic.thorium.grammar=
    S:fluid.plustic.thorium.instability.factor_accessibility=
    S:fluid.plustic.thorium.instability.factor_flat=
    S:fluid.plustic.thorium.seabanned=
    S:fluid.plustic.tungsten.cardrank=
    S:fluid.plustic.tungsten.grammar=
    S:fluid.plustic.tungsten.instability.factor_accessibility=
    S:fluid.plustic.tungsten.instability.factor_flat=
    S:fluid.plustic.tungsten.seabanned=
    S:fluid.poison.cardrank=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.seabanned=
    S:fluid.purifying_fluid.cardrank=
    S:fluid.purifying_fluid.grammar=
    S:fluid.purifying_fluid.instability.factor_accessibility=
    S:fluid.purifying_fluid.instability.factor_flat=
    S:fluid.purifying_fluid.seabanned=
    S:fluid.sand.cardrank=
    S:fluid.sand.grammar=
    S:fluid.sand.instability.factor_accessibility=
    S:fluid.sand.instability.factor_flat=
    S:fluid.sand.seabanned=
    S:fluid.slop.cardrank=
    S:fluid.slop.grammar=
    S:fluid.slop.instability.factor_accessibility=
    S:fluid.slop.instability.factor_flat=
    S:fluid.slop.seabanned=
    S:fluid.tconstruct.alubrass.cardrank=
    S:fluid.tconstruct.alubrass.grammar=
    S:fluid.tconstruct.alubrass.instability.factor_accessibility=
    S:fluid.tconstruct.alubrass.instability.factor_flat=
    S:fluid.tconstruct.alubrass.seabanned=
    S:fluid.tconstruct.aluminum.cardrank=
    S:fluid.tconstruct.aluminum.grammar=
    S:fluid.tconstruct.aluminum.instability.factor_accessibility=
    S:fluid.tconstruct.aluminum.instability.factor_flat=
    S:fluid.tconstruct.aluminum.seabanned=
    S:fluid.tconstruct.ardite.cardrank=
    S:fluid.tconstruct.ardite.grammar=
    S:fluid.tconstruct.ardite.instability.factor_accessibility=
    S:fluid.tconstruct.ardite.instability.factor_flat=
    S:fluid.tconstruct.ardite.seabanned=
    S:fluid.tconstruct.blueslime.cardrank=
    S:fluid.tconstruct.blueslime.grammar=
    S:fluid.tconstruct.blueslime.instability.factor_accessibility=
    S:fluid.tconstruct.blueslime.instability.factor_flat=
    S:fluid.tconstruct.blueslime.seabanned=
    S:fluid.tconstruct.brass.cardrank=
    S:fluid.tconstruct.brass.grammar=
    S:fluid.tconstruct.brass.instability.factor_accessibility=
    S:fluid.tconstruct.brass.instability.factor_flat=
    S:fluid.tconstruct.brass.seabanned=
    S:fluid.tconstruct.bronze.cardrank=
    S:fluid.tconstruct.bronze.grammar=
    S:fluid.tconstruct.bronze.instability.factor_accessibility=
    S:fluid.tconstruct.bronze.instability.factor_flat=
    S:fluid.tconstruct.bronze.seabanned=
    S:fluid.tconstruct.clay.cardrank=
    S:fluid.tconstruct.clay.grammar=
    S:fluid.tconstruct.clay.instability.factor_accessibility=
    S:fluid.tconstruct.clay.instability.factor_flat=
    S:fluid.tconstruct.clay.seabanned=
    S:fluid.tconstruct.cobalt.cardrank=
    S:fluid.tconstruct.cobalt.grammar=
    S:fluid.tconstruct.cobalt.instability.factor_accessibility=
    S:fluid.tconstruct.cobalt.instability.factor_flat=
    S:fluid.tconstruct.cobalt.seabanned=
    S:fluid.tconstruct.copper.cardrank=
    S:fluid.tconstruct.copper.grammar=
    S:fluid.tconstruct.copper.instability.factor_accessibility=
    S:fluid.tconstruct.copper.instability.factor_flat=
    S:fluid.tconstruct.copper.seabanned=
    S:fluid.tconstruct.dirt.cardrank=
    S:fluid.tconstruct.dirt.grammar=
    S:fluid.tconstruct.dirt.instability.factor_accessibility=
    S:fluid.tconstruct.dirt.instability.factor_flat=
    S:fluid.tconstruct.dirt.seabanned=
    S:fluid.tconstruct.electrum.cardrank=
    S:fluid.tconstruct.electrum.grammar=
    S:fluid.tconstruct.electrum.instability.factor_accessibility=
    S:fluid.tconstruct.electrum.instability.factor_flat=
    S:fluid.tconstruct.electrum.seabanned=
    S:fluid.tconstruct.emerald.cardrank=
    S:fluid.tconstruct.emerald.grammar=
    S:fluid.tconstruct.emerald.instability.factor_accessibility=
    S:fluid.tconstruct.emerald.instability.factor_flat=
    S:fluid.tconstruct.emerald.seabanned=
    S:fluid.tconstruct.glass.cardrank=
    S:fluid.tconstruct.glass.grammar=
    S:fluid.tconstruct.glass.instability.factor_accessibility=
    S:fluid.tconstruct.glass.instability.factor_flat=
    S:fluid.tconstruct.glass.seabanned=
    S:fluid.tconstruct.gold.cardrank=
    S:fluid.tconstruct.gold.grammar=
    S:fluid.tconstruct.gold.instability.factor_accessibility=
    S:fluid.tconstruct.gold.instability.factor_flat=
    S:fluid.tconstruct.gold.seabanned=
    S:fluid.tconstruct.iron.cardrank=
    S:fluid.tconstruct.iron.grammar=
    S:fluid.tconstruct.iron.instability.factor_accessibility=
    S:fluid.tconstruct.iron.instability.factor_flat=
    S:fluid.tconstruct.iron.seabanned=
    S:fluid.tconstruct.knightslime.cardrank=
    S:fluid.tconstruct.knightslime.grammar=
    S:fluid.tconstruct.knightslime.instability.factor_accessibility=
    S:fluid.tconstruct.knightslime.instability.factor_flat=
    S:fluid.tconstruct.knightslime.seabanned=
    S:fluid.tconstruct.lead.cardrank=
    S:fluid.tconstruct.lead.grammar=
    S:fluid.tconstruct.lead.instability.factor_accessibility=
    S:fluid.tconstruct.lead.instability.factor_flat=
    S:fluid.tconstruct.lead.seabanned=
    S:fluid.tconstruct.manyullyn.cardrank=
    S:fluid.tconstruct.manyullyn.grammar=
    S:fluid.tconstruct.manyullyn.instability.factor_accessibility=
    S:fluid.tconstruct.manyullyn.instability.factor_flat=
    S:fluid.tconstruct.manyullyn.seabanned=
    S:fluid.tconstruct.nickel.cardrank=
    S:fluid.tconstruct.nickel.grammar=
    S:fluid.tconstruct.nickel.instability.factor_accessibility=
    S:fluid.tconstruct.nickel.instability.factor_flat=
    S:fluid.tconstruct.nickel.seabanned=
    S:fluid.tconstruct.obsidian.cardrank=
    S:fluid.tconstruct.obsidian.grammar=
    S:fluid.tconstruct.obsidian.instability.factor_accessibility=
    S:fluid.tconstruct.obsidian.instability.factor_flat=
    S:fluid.tconstruct.obsidian.seabanned=
    S:fluid.tconstruct.pigiron.cardrank=
    S:fluid.tconstruct.pigiron.grammar=
    S:fluid.tconstruct.pigiron.instability.factor_accessibility=
    S:fluid.tconstruct.pigiron.instability.factor_flat=
    S:fluid.tconstruct.pigiron.seabanned=
    S:fluid.tconstruct.purpleslime.cardrank=
    S:fluid.tconstruct.purpleslime.grammar=
    S:fluid.tconstruct.purpleslime.instability.factor_accessibility=
    S:fluid.tconstruct.purpleslime.instability.factor_flat=
    S:fluid.tconstruct.purpleslime.seabanned=
    S:fluid.tconstruct.silver.cardrank=
    S:fluid.tconstruct.silver.grammar=
    S:fluid.tconstruct.silver.instability.factor_accessibility=
    S:fluid.tconstruct.silver.instability.factor_flat=
    S:fluid.tconstruct.silver.seabanned=
    S:fluid.tconstruct.steel.cardrank=
    S:fluid.tconstruct.steel.grammar=
    S:fluid.tconstruct.steel.instability.factor_accessibility=
    S:fluid.tconstruct.steel.instability.factor_flat=
    S:fluid.tconstruct.steel.seabanned=
    S:fluid.tconstruct.stone.cardrank=
    S:fluid.tconstruct.stone.grammar=
    S:fluid.tconstruct.stone.instability.factor_accessibility=
    S:fluid.tconstruct.stone.instability.factor_flat=
    S:fluid.tconstruct.stone.seabanned=
    S:fluid.tconstruct.tin.cardrank=
    S:fluid.tconstruct.tin.grammar=
    S:fluid.tconstruct.tin.instability.factor_accessibility=
    S:fluid.tconstruct.tin.instability.factor_flat=
    S:fluid.tconstruct.tin.seabanned=
    S:fluid.tconstruct.zinc.cardrank=
    S:fluid.tconstruct.zinc.grammar=
    S:fluid.tconstruct.zinc.instability.factor_accessibility=
    S:fluid.tconstruct.zinc.instability.factor_flat=
    S:fluid.tconstruct.zinc.seabanned=
    S:fluid.uranium.cardrank=
    S:fluid.uranium.grammar=
    S:fluid.uranium.instability.factor_accessibility=
    S:fluid.uranium.instability.factor_flat=
    S:fluid.uranium.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


